[submodule "backend"]
	path = backend
	url = https://github.com/kkh4323/elicelab_reservation_project.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/kkh4323/elicelab_reservation_project_frontend.git
