[submodule "backend"]
	path = backend
	url = https://github.com/kkh4323/elicelab_reservation_project.git
[submodule "admin"]
	path = admin
	url = https://github.com/kkh4323/elicelab_reservation_admin.git
